<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Project Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}" ></script>
    <script type="text/javascript" src="js/main.js" th:src="@{js/main.js}" ></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="css/main.css" th:href="@{css/main.css}" />
</head>

<body>

<h1>
    Main page
</h1>

</body>

</html>